Repository cmoody-nest/cashboar: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome check --fix, biome check

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["biome format --write", "biome check --fix", "biome check"],
  "*/**/*.{json,css,md}": ["biome format --write"]
}

feat: add shadcn form
  components/ui/button.tsx
  components/ui/form.tsx
  components/ui/label.tsx
  package-lock.json
  package.json
Due: biome format --write, biome check --fix, biome check

feat: add more shadcn components
  components/ui/card.tsx
  components/ui/input.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/sidebar.tsx
  components/ui/skeleton.tsx
  components/ui/tooltip.tsx
  hooks/use-mobile.ts
  package-lock.json
  package.json
Due: biome format --write, biome check --fix, biome check

feat: add shadcn sonner
  components/ui/sonner.tsx
  package-lock.json
  package.json
Due: biome format --write, biome check --fix, biome check

chore(posthog): add posthog dependencies
  package-lock.json
  package.json
Due: none

feat(posthog): add instrumentation client for posthog
  instrumentation-client.ts
  lib/env.ts
  next.config.ts
Due: biome format --write, biome check --fix, biome check

chore(posthog): remove posthog-node
  package-lock.json
  package.json
Due: none

feat(posthog): create posthog provider
  app/layout.tsx
  app/providers.tsx
  instrumentation-client.ts
Due: biome format --write, biome check --fix, biome check

chore(deps): add pino & pino-http
  package-lock.json
  package.json
Due: none

feat(logger): add & configure logger
  lib/env.ts
  lib/logger.ts
Due: biome format --write, biome check --fix, biome check

feat(posthog): setup analytics for logging
  lib/analytics.ts
  package-lock.json
  package.json
Due: biome format --write, biome check --fix, biome check

docs: add readme
  README.md
Due: none

chore(logger): remove useless pino-pretty
  lib/logger.ts
Due: biome format --write, biome check --fix, biome check

chore(deps): add supabase js client
  package-lock.json
  package.json
Due: none

chore(biome): add no restricted imports rule
  biome.json
Due: none

chore(deps): add supabase ssr
  package-lock.json
  package.json
Due: none

feat(supabase): add js and ssr client
  lib/supabase/client.ts
  lib/supabase/server.ts
Due: biome format --write, biome check --fix, biome check

fix: fix lint errors
  app/layout.tsx
  lib/analytics.ts
  lib/env.ts
  lib/logger.ts
Due: biome format --write, biome check --fix, biome check

feat(supabase): add login page
  app/login/actions.ts
  app/login/page.tsx
Due: biome format --write, biome check --fix, biome check

feat: add error page
  app/error/page.tsx
Due: biome format --write, biome check --fix, biome check

feat(supabase): add confirm endpoint
  app/auth/confirm/route.ts
Due: biome format --write, biome check --fix, biome check

fix(supabase): use shadcn ui components
  app/login/page.tsx
Due: biome format --write, biome check --fix, biome check

feat(supabase): add logging to confirm route
  app/auth/confirm/route.ts
Due: biome format --write, biome check --fix, biome check

feat(supabase): add auto-refresh middleware
  lib/supabase/middleware.ts
  middleware.ts
Due: biome format --write, biome check --fix, biome check

feat(supabase): add private page
  app/private/page.tsx
Due: biome format --write, biome check --fix, biome check

chore(supabase): remove inconsistent comments
  app/login/actions.ts
Due: biome format --write, biome check --fix, biome check

chore(supabase): clarify confirm route
  app/auth/confirm/route.ts
Due: biome format --write, biome check --fix, biome check

chore(deps): add drizzle
  package-lock.json
  package.json
Due: none

feat(db): add drizzle schema
  lib/db/index.ts
  lib/db/schema.ts
  lib/env.ts
Due: biome format --write, biome check --fix, biome check

feat(db): add drizzle migrations
  drizzle.config.ts
  migrations/0000_loud_bastion.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  package-lock.json
  package.json
Due: biome format --write

feat(supabase): verify user via email
  app/auth/confirm/route.ts
  app/login/actions.ts
  lib/env.ts
Due: biome format --write, biome check --fix, biome check

feat(db): add resend_webhooks table
  migrations/0001_black_secret_warriors.sql
  migrations/meta/0001_snapshot.json
  migrations/meta/_journal.json
Due: biome format --write

chore(deps): add svix
  package-lock.json
  package.json
Due: none

feat(resend): add webhook route
  app/api/webhooks/resend/route.ts
  lib/db/schema.ts
  lib/env.ts
Due: biome format --write, biome check --fix, biome check

feat(resend): store resend webhook data to supabase
  app/api/webhooks/resend/route.ts
Due: biome format --write, biome check --fix, biome check

chore(db): add more columns
  migrations/0002_high_maginty.sql
  migrations/meta/0002_snapshot.json
  migrations/meta/_journal.json
Due: biome format --write

chore(db): drop users table
  migrations/0003_keen_boom_boom.sql
  migrations/meta/0003_snapshot.json
  migrations/meta/_journal.json
Due: biome format --write

chore(resend): handle resend webhook properly
  app/api/webhooks/resend/route.ts
  lib/db/schema.ts
Due: biome format --write, biome check --fix, biome check

fix(supabase): add public routes
  lib/supabase/middleware.ts
Due: biome format --write, biome check --fix, biome check

chore(deps): upgrade react hook form
  package-lock.json
  package.json
Due: none

feat(login): extract form into separate component
  app/login/page.tsx
  components/login/form.tsx
Due: biome format --write, biome check --fix, biome check
